/* * {
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: var(--font-family);
}

ul li{
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0.5em auto;
  text-align: center;
}

#header {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 1em 0.5em ; 
}

#share-icon {
  cursor: pointer;
  border: 1px dashed #98a2b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 300ms linear;
}

#share-icon:hover {
  background-color: #d0d5dd;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;
  margin-bottom: 1em;
}

#profile-section {
  /* background-color: yellow;
  z-index: 101;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer; */
  /* position: relative;
  width: 50%;
} */

/* #profile-section:hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
} */

/* #profile__img {
  width: 100px;
  height: 100px; 
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.6em;
} */

/* #profile__img::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: width .3s;
} */

/* .profile__img:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.image_hover{
  transition: all 400ms linear;
  position: absolute;
  opacity: 0;
}

#twitter {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

#slack {
  display: none;
}
 
#links-section {
  width: 90%;
  margin: 0 auto;
}

.button {
  width: 95%;
  color: #101828;
  display: block;
  padding: 1em 1em;
  border: none;
  border-radius: 7px;
  background-color: #d0d5dd;
  transition: all 400ms linear;
  font-weight: 500;
  margin: 1em auto;
}

.button:hover {
  cursor: pointer;
  background-color: #98a2b3;
  box-shadow: 0.5px 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

#social-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  margin: 2em auto;
  
}

#footer-section {
  width: 100%;
  border-top: 1px solid gray;
  text-align: left;
  padding: 2em 1em;
  margin-top: 1em;
}

#footer-section p {
  color: #98a2b3
}

.contact-section {
  padding: 2em 1em;
}

.contact-heading {
  font-size: 2em;
}

.top-contact > p {
  font-size: 1.2em;
}


.top-contact {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 2em;
}

form {
  width: 100%;
}

input[type="text"], input[type="email"],
textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #101828;
  padding: 1em;
  display: block;
  margin-bottom: 3em;
  outline: none;
}

input::placeholder,
textarea::placeholder{
  font-size: 1.1em;
  font-family: var(--font-family);
  letter-spacing: 1px;
  color: #101828
}

input:focus,
textarea:focus {
  border: 2px solid #B2DDFF; 
}


#btn__submit {
  background-color: #1570EF;
  color: #fff;
  border: none;
  font-weight: 600;
  width: 100%;
  padding: 0.7em 1em;
  font-size: 1rem;
  border-radius: 7.5px;
  cursor: pointer;
  transition: all 400ms linear;
}

#btn__submit:hover {
  background-color: #B2DDFF;
  color: #101828;
}



.label{
  display: block;
  margin-bottom: 0.3em;
  font-weight: 600;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

#btn__submit {
  margin-top: 2em;
}

.error {
  margin-top: -25px;
  color: #F83F23
}



@media (min-width: 800px) {
  .names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;

  }

  .first-name,
  .last-name {
    width: 48%;
  }

  #footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer-section > img {
    height: 30px;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  background-color: #f6fafb;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}

ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

ul li > img {
  margin-right: 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 1em;
}

.accent {
  color: #714dd9;
  font-weight: 700;
}




/* SUBSCRIPTION PAGE */

.subscription-section {
  text-align: center;
  padding: 3em 2em;
  max-width: 1000px;
  position: relative;
}

.subscribe-modal {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  left: 0;
  top: 0;
  /* top: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
} 

.inner-subscribe {
  background-color: #fff;
  width: 90%;
  border-radius: 8px;
  max-width: 500px;
  position: relative;
  padding: 2em 0;
  
}

.inner-subscribe > h5 {
  margin-bottom: 1em;
}

.sub-heading {
  text-align: center;
}

.month-year {
  display: flex;
  width: 50%;
  max-width: 250px;
  margin: 2em auto;
  justify-content: space-between;
  align-items: center;
  font-weight: 600
}

.yearly {
  color: #714dd9;
}

.subscription-content {
  text-align: left;
  margin-bottom: 2em;
  margin-top: 3em;
}

.benefits,
.plans {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2em 0;
}

.each-benefit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.benefit-details {
  width: 85%
}

.each-plan {
  border: 1px solid gray;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  padding: 3em 0;
  margin-bottom: 2em;
  cursor: pointer;
}

.each-plan .plan-price {
  color: #714dd9;
}

.plan-name {
  font-size: 1.15em;
  margin-bottom: 0.4em;
}

.price-bold {
  font-size: 1.5em;
  font-weight: 600;
}

button {
  background-color: none;
  border: none;
  margin-bottom: 4em;
  cursor: pointer;
}

button .sub-features-btn {
  font-size: 1em;
}

.btn {
  background-color: #714dd9;
  padding: 1.1em 5em;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  font-size: 0.8em;
}

.features {
  text-align: left;
}

.feature-heading {
  margin-bottom: 1em;
}

.feature-plan-name {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.feature-price-plan {
  color: #714dd9;
  font-weight: 600;
  margin-bottom: 0.9em;
  font-weight: 200;
}

.feature-price-bold {
  font-weight: 700;
  font-size: 1.4em;
}

.all-features,
.feature-bottom-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.each-feature {
  background-color: #fff;
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 1em 0.6em;
  margin-bottom: 2em;
}

.each-feature button,
.feature-bottom-links .subscribe {
  width: 200px;
  /* text-align: center; */
}

.feature-bottom-links .subscribe {
  text-align: center;
}

.feature-bottom-links {
  text-align: center;
}


.toggler--slider {
  width: 50px;
  height: 20px;
  background-color: #714dd9;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: content-box;
}


nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-start;
}

@media screen and (min-width: 800px) {
  .benefits,
  .plans,
  .feature-bottom-links,
  .all-features {
    flex-direction: row;
    align-items: center;
    /* background-color: pink; */
  }

  .each-plan,
  .each-benefit {
    width: 31%;
  }

  .all-features {
    flex-direction: row;
  }
  
  .each-feature {
    width: 32%;
  }
}
