* {
  box-sizing: border-box;
}

:root {
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

ul li{
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0.5em auto;
  text-align: center;
}

#header {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 2em 0.5em; 
}

#share-icon {
  cursor: pointer;
  border: 1px dashed #98a2b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 300ms linear;
}

#share-icon:hover {
  background-color: #d0d5dd;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;
  margin-bottom: 1em;
}

#profile-section {
  /* background-color: yellow;
  z-index: 101;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer; */
  position: relative;
  width: 50%;
}

/* #profile-section:hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
} */

#profile__img {
  width: 100px;
  height: 100px; 
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.6em;
}

/* #profile__img::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: width .3s;
} */

.profile__img:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.image_hover{
  transition: all 400ms linear;
  position: absolute;
  opacity: 0;
}

#twitter {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

#slack {
  display: none;
}
 
#links-section {
  width: 90%;
  margin: 0 auto;
}

.button {
  width: 95%;
  color: #101828;
  display: block;
  padding: 1em 1em;
  border: none;
  border-radius: 7px;
  background-color: #d0d5dd;
  transition: all 400ms linear;
  font-weight: 500;
  margin: 1em auto;
}

.button:hover {
  cursor: pointer;
  background-color: #98a2b3;
  box-shadow: 0.5px 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

#social-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  margin: 2em auto;
  
}

#footer-section {
  width: 100%;
  border-top: 1px solid gray;
  text-align: left;
  padding: 2em 1em;
  margin-top: 1em;
}

#footer-section p {
  color: #98a2b3
}

.contact-section {
  padding: 2em 1em;
}

.contact-heading {
  font-size: 2em;
}

.top-contact > p {
  font-size: 1.2em;
}


.top-contact {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 2em;
}

form {
  width: 100%;
}

input[type="text"], input[type="email"],
textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #101828;
  padding: 1em;
  display: block;
  margin-bottom: 1.9em;
  outline: none;
}

input::placeholder,
textarea::placeholder{
  font-size: 1.1em;
  font-family: var(--font-family);
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  border: 2px solid #B2DDFF; 
}


#btn__submit {
  background-color: #1570EF;
  color: #fff;
  border: none;
  font-weight: 600;
  width: 100%;
  padding: 0.7em 1em;
  font-size: 1rem;
  border-radius: 7.5px;
  cursor: pointer;
  transition: all 400ms linear;
}

#btn__submit:hover {
  background-color: #B2DDFF;
  color: #101828;
}



.label{
  display: block;
  margin-bottom: 0.3em;
  font-weight: 600;
}

input[type="checkbox"] {
  margin-right: 1rem;
}

#btn__submit {
  margin-top: 2em;
}

/* input[type="text"], input[type="email"] {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
} */



@media (min-width: 800px) {
  .names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    /* width: 50% */
  }

  .first-name,
  .last-name {
    width: 48%;
  }

  #footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer-section > img {
    height: 30px;
  }
}


